.top_left_logo {
    width : 300px;
    height : 75px;
}
.content {
    margin-top : 5%;
    padding-left : 5%;
    padding-right : 5%;
}

#Inline_flex {
    display : inline-flex;
}
#Inline_block {
    width: 100%;
    display : inline-block;
}

#float_right {
    float : right;
}

.logout{
    float: right;
    vertical-align : bottom;
}

.post_title {
    margin-top : 30px;
}

.post_title > span {
    font-size : 50px;
    font-weight : bold;
}

.solved {
    width : 500px;
    height : 100px;
    float : right;
    padding-top : 20px;
}

.user_info > div > span {
    font-size : 25px;
    font-weight : bold;
}

.post_content > p {
    margin-top : 50px;
    font-size : 20px;
}

.curious_button {
    margin-top : 50px;
}

.answer_area {
    margin-top : 50px;
    margin-bottom : 30px;
}

.answers {
    margin-top : 100px;
}

.reply-user-name {
    margin-right : 10px;
    font-size : 22px;
    font-weight : bold;
}

.addImage {
    width: 200px;
    height: 250px;
    background-color: lightgray;
    border-radius: 20px;
    overflow: hidden;
    margin: 0px 10px 10px 0px;
}