<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <title>main_Login_page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <!-- <script src="https://code.jquery.com/jquery-latest.min.js"></script> -->


  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
  crossorigin="anonymous"></script>

  <style>
    .logo {
      margin: 0 auto;
      padding-bottom: 40px;
      width: 400px;
    }

    .wrap {
      width: 1280px;
      margin: 0 auto;
    }

    .button_login,
    .acount_button {
      margin: 0 auto;
      width: 800px;
    }

    .home_button {
      margin: 0 auto;
      width: 800px;
    }

    .login_button {
      width: 800px;
      margin: 5px;
    }

    .input {
      height: 60px;
    }
  </style>
  <script>
    function login() {
      let account_id= $('#inputID').val()
      console.log(account_id)
      let account_pw = $('#inputPW').val()
      console.log(account_pw)
      $.ajax({
        type: "POST",
        url: "/api/signIn",
        data: { account_id : account_id, account_pw : account_pw },
        async:false,
        success: function (response) { // 성공하면
          if (response['result'] == 'success') {
            location.href = './main'
          }
          else{
            alert("아이디 혹은 비밀번호를 다시 확인하세요.")
          }
        }
      })
    }
  </script>
</head>

<body>
  <div class="wrap">
    <section class="section is-large">
      <div class="logo">
        <img src="/static/source/jungdob_logo.png" alt="Logo">
      </div>
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input account_id" id="inputID" type="email" placeholder="아이디를 입력해주세요">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input account_pw" id = "inputPW" type="password" placeholder="패스워드를 입력해주세요">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <div class="home_button">
        <p class="control">
          <a class="button is-success login_button" onclick = "login()">
            Login
          </a>
        </p>
        <p class="control">
          <a href="./signin" class="button is-primary is-outlined acount_button">
            회원가입
          </a>
        </p>
        </div>
      </div>
    </section>
  </div>
</body>

</html>