<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <title>정답 : 정글의 답을 찾다</title>
    <div class="logo-picture">
    <img
        src = "/static/source/jungdob_logo.png"
        alt= "KRAFTON JUNGDOB"
        />
    </div>
    <p class="ment">
      치열한 정글 속에서 닻을 내리다.
    </p>
    <style>
      .logo-picture {
        margin-top : 100px;
        padding-left : 626.5px;
        padding-right : 626.5px;
      }
      .ment {
        margin-top : 20px;
        text-align : center;
      }
      *{
        font-family: 'Noto Sans KR', sans-serif;
      }
    </style>
  </head>
  <body>
    
  </body>
</html>