<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <title>정글 : 정글의 답을 찾다</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
  crossorigin="anonymous"></script>

  <style>
    a {
      text-decoration: none;
    }

    .wrap {
      width: 1280px;
      height: 1280px;
      /* margin: 0 auto; */
    }

    input {
      background-color: #fff8dc00;
      height: 60px;
      width: 260px;
      font-weight: 600;
    }

    input::placeholder {
      font-size: 30px;
    }

    .no-border {
      border-width: 0;
    }

    .bottom-border {
      border-width: 0 0 1px;
      width: auto;
      font-size: 20px;
    }


    .week_searching {
      display: inline-block;
      font-size: 30px;
      margin: 5px;
    }

    .filter {
      float: right;
    }

    #text {
      font-size: large;
    }

    .sub_nav {
      font-size: 20px;
      /* text-decoration: none */
      color: #5bcd9a;
    }

    .create_answer {
      position: fixed;
      bottom: 40px;
      right: 40px;
      border: none;
      border-radius: 16px;
      padding: 12px;
      font-weight: bold;
      cursor: pointer;
      background-color: #5bcd9a;
      text-align: center;
      color: black;
    }

    .login_button {
      margin-top: 5px;
    }
  </style>

  <script>
    const currentWeek = 0;
    const post_card = `
<div class="card">
<div class="card-content">
    <div class="media">
        <div class="media-left">
            <figure class="image is-48x48">
                <img
                    class="is-rounded"
                    src="https://bulma.io/assets/images/placeholders/96x96.png"
                    alt="Placeholder image"
                />
            </figure>
        </div>
        <div class="media-content">
            <p class="title is-4"><a>%s</a></p>
            <time datetime="2016-1-1">%s</time>
        </div>
    </div>

    <div class="content_" onclick = "open_post(this.id)" style = "cursor:pointer;" id = %s>
        <h1>
            <p>%s</p>
        </h1>
    </div>
    <div class="footer_btn">
        <a onclick="" class="button is-link is-light login_button"">
            댓글 &nbsp; <p>%d</p>
        </a>
        <a onclick="" class=" button is-success login_button"">
            나도 궁금해요 &nbsp; <p>%d</p>
        </a>
    </div>
</div>
</div>
`
    function get_post_list(week) {
      let sorting_method = $('#sorting option:selected').val();
      if (sorting_method == "추천순")
        sorting_method = 'like';
      else
        sorting_method = 'time';
      
      let ret = []
      $.ajax({
        type: "POST",
        url: "/api/getPostList",
        data: {"week":week, "sorting_method" : sorting_method},
        async:false,
        success: function(response) {
          if(response["result"] == "success") {
            ret = Object.assign([], response["post"]);
          }
          else {
            alert("서버 오류로 글 목록을 불러오지 못했습니다")
          }
        }
      })
      return ret;
    }
    function get_user_info(user_id) {
      let ret = {};
      $.ajax({
        type: "POST",
        url: "/api/getUserInfo",
        data: {"user_id":user_id},
        async:false,
        success: function(response) {
          if(response["result"] == "success") {
            ret = response["user"];
          }
          else {
            alert("error")
          }
        }
      })
      return ret;
    }
    function show_post_list(postList) {
      let post_string = "";
      postList.forEach(function(post) {
        let user = get_user_info(post["author_id"]);
        let name = user["user_name"] + "(" + user["slack_id"] + ")";
        let temp = post["time"].split(" ");
        let time = "%s년 %s월 %s일 %s시 %s분"
        let comment_num = post["comment_id_list"].length
        time = time.replace("%s", temp[0]).replace("%s", temp[1]).replace("%s", temp[2]).replace("%s", temp[3]).replace("%s", temp[4]);
        post_string += post_card.replace("%s", name).replace("%s", time).replace("%s", post["id"]).replace("%s", post["title"]).replace("%d", comment_num).replace("%d", post["like_num"]);
      });
      $(".card-rapper").html(post_string);
    }
    $(document).ready(function () {
      //show_post_list(get_post_list(currentWeek));
    })
    function click_search() {
      let week = $('#week_input').val();
      if(!week)
        week = 0;
      show_post_list(get_post_list(week));
    }
    function get_complete_post_list(week, complete) {  // if complete -> true, else false
      let sorting_method = $('#sorting option:selected').val();
      if (sorting_method == "추천순")
        sorting_method = 'like';
      else
        sorting_method = 'time';
      
      let ret = []
      $.ajax({
        type: "POST",
        url: "/api/getCompletePostList",
        data: {"week":week, "sorting_method" : sorting_method},
        async:false,
        success: function(response) {
          if(response["result"] == "success") {
            if(complete == true)
              ret = response["complete"];
            else
              ret = response["in_progress"];
          }
          else {
            alert("서버 오류로 글 목록을 불러오지 못했습니다")
          }
        }
      })
      return ret;
    }
    function in_progress_qes() {
      let week = $('#week_input').val();
      if(!week)
        week = 0;
      show_post_list(get_complete_post_list(week, false));
    }
    function complete_qes() {
      let week = $('#week_input').val();
      if(!week)
        week = 0;
      show_post_list(get_complete_post_list(week, true));
    }
    function press_logout() {
      $.ajax({
        type: "GET",
        url: "/api/signOut",
        data: {},
        async:false,
        success: function(response) {
          if(response["result"] == "success") {
            window.location.replace("/");
          }
          else {
            alert("error")
          }
        }
      })
    }

    function open_post(id) {
        
        let ajaxUrl = "/post?id=" + id

        $.ajax({
          type: "GET",
          url: ajaxUrl,
          data: {},
          success: function(response){
              location.href = ajaxUrl
          }
        })
    }

    function openClose() {
      // id 값 post-box의 display 값이 block 이면(= 눈에 보이면)
      if ($("#post-box").css("display") == "block") {
        // post-box를 가리고
        $("#post-box").hide();
        // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
        $("#btn-post-box").text("포스팅 박스 열기");
      } else {
        // 아니면(눈에 보이지 않으면) post-box를 펴라
        $("#post-box").show();
        // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
        $("#btn-post-box").text("포스팅 박스 닫기");
      }
    }
  </script>
</head>

<body>

    <div class="content wrap">

      <!-- 내비게이션 바 -->
      <div id="Inline_block">
        <a href="/main">
          <img class="top_left_logo" src="/static/source/jungdob_logo.png" />
        </a>
        <div class="logout">
          <button class="button is-success is-rounded" onclick="press_logout()">로그아웃</button>
        </div>
      </div>
      <div>
        <input type='number' placeholder='0' class='bottom-border' id = "week_input" />
        <p class="week_searching">주차 프로젝트</p>
        <a onclick="click_search()" class="button is-success login_button">
          검색
        </a>
        <div class="field week_searching filter">
          <label class="label"></label>
          <div class="control">
            <div class="select">
              <select id="sorting">
                <option>추천순</option>
                <option>최신순</option>
              </select>
            </div>
          </div>
        </div>
        </p>
      </div>

      <a onclick="in_progress_qes()" class="sub_nav answer_stay"> 답변 진행중 /</a>
      <a onclick="complete_qes()" class="sub_nav answer_success"> 완료된 답변</a>
      
      <div class="card-rapper">
      {% for i in posts %}
      <div class="card">
       
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img
                  class="is-rounded"
                  src="https://bulma.io/assets/images/placeholders/96x96.png"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="media-content">
              {%for x in users if not (i['author_id'] != x['id'])%}
              <p class="title is-4"><a>
                {{x['user_name']}} ({{x['slack_id']}})
              </a></p>
              {%endfor%}
              <time datetime="2016-1-1">{{i['time']}}</time>
            </div>
          </div>

          <div class="content_" onclick = "open_post(this.id)" style = "cursor:pointer;" id={{i['id']}}>
            <h1>
              <p>{{i['title']}}</p>
            </h1>

          </div>
          <div class="footer_btn">
            <a onclick="" class="button is-link is-light login_button">
              댓글 &nbsp; <p>{{i['reply_num']}}</p>
              </a>
              <a onclick="" class=" button is-success login_button">
              나도 궁금해요 &nbsp; <p>{{i['like_num']}}</p>
            </a>

          </div>

        </div>
        
      </div>
      {%endfor%}
    </div>
      
    </div>
    <a href = "./writeQ" class="is-success create_answer">
      질문하기
    </a>
</body>

</html>