<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>정답 : 정글의 답을 찾다</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    crossorigin="anonymous"
    ></script>

    <script src="../static/post.js"></script>

    <script>
      function press_like_button(id) {
        $.ajax({
          type: "POST",
          url: "/api/pressCommentLike",
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('jwtToken')
          },
          data: {"comment_id":id},
          async:false,
          success: function(response) {
            if(response["result"] == "success") {

              $(".Lbutton" + id).html("이거다! " + response["like"]);
              $(".Hbutton" + id).html("안되요 " + response["hate"]);
            }
            else {
              alert("error")
            }
          }
        })
      }
      function press_hate_button(id) {
        $.ajax({
          type: "POST",
          url: "/api/pressCommentHate",
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('jwtToken')
          },
          data: {"comment_id":id},
          async:false,
          success: function(response) {
            if(response["result"] == "success") {

              $(".Lbutton" + id).html("이거다! " + response["like"]);
              $(".Hbutton" + id).html("안되요 " + response["hate"]);
            }
            else {
              alert("error")
            }
          }
        })
      }
      function press_comment() {
        let content = $("#answer_content").val();
        let post_id = localStorage.getItem('currentPostId');
        $.ajax({
          type: "POST",
          url: "/api/createComment",
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('jwtToken')
          },
          data: {
            "post_id":post_id,
            "content":content
          },
          async:false,
          success: function(response) {
            if(response["result"] == "success") {
              window.location.reload();
            }
            else {
              alert("error")
            }
          }
        })
      }
    </script>

  </head>
  
  <body>
    <div class="content wrap">
     <!-- 내비게이션 바 -->
     <div id="Inline_block">
      <a href="/main">
        <img class="top_left_logo" src="/static/source/jungdob_logo.png" />
      </a>
      <div class="logout">
        <button class="button is-success is-rounded">로그아웃</button>
      </div>
    </div>

    <div class="post_title" id="Inline_block">
      <span>{{post['title']}}</span>
      <!-- javascript 혹은 jquery로 display속성을 block으로 변경하기 -->
      <!-- 해결 / 미해결 버튼의 id값은 게시글 고유의 id 값으로 설정하기 -->
      <div class="solved">
        {%if post['solved_comment_id'] == -1 %}
        <button class="button is-active">미해결</button>
        {%else%}
        <button class="button is-success is-active">해결</button>
        {%endif%}
      </div>
    </div>

    <div class="user_info" id="Inline_block">
      <!-- 사용자 이미지 -->
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img class="is-rounded" src="https://bulma.io/assets/images/placeholders/96x96.png"
              alt="Placeholder image" />
          </figure>
        </div>
        <div class="media-content">
          <!-- 아이디 및 이름 받아오기 : DB에서 아이디와 이름 각각 받아와서 변수로 올리기 -->
          <p class="title is-4">{{authorInfo['user_name']}} ({{authorInfo['slack_id']}})</p>
          <p class="subtitle is-6">{{post['time']}}</p>
        </div>
      </div>
    </div>

    <!-- db에서 글 가져오기 ==> 줄바꿈은 어떻게? <br>태그 -->
    <div class="post_content">
      <p>
        {{post['content']}}
      </p>
    </div>

    <!-- 궁금해요 한 사람들 숫자 받아오기 : db에서 숫자 꺼내와서 변수로 대입 -->
    <div class="curious_button">
      <button class="button is-success" id="">나도 궁금해요 {{post['like_num']}}</button>
    </div>

    <div class="answer_area">
      <!-- 댓글 단 사람들 숫자 받아오기 : db에서 숫자 꺼내와서 변수로 대입 -->
      <h2>{{reply_num}}개의 댓글</h2>
      <div class="control">
        <textarea
          class="textarea has-fixed-size"
          placeholder="정글러님들의 답변을 기다립니다."
          id ="comment"
        ></textarea>
      </div>
    </div>
    <div id="float_right">
      <button class="button is-success" onclick="press_comment()">답변하기</button>
    </div>
      
      {% for i in reply_db %}
      <!-- 댓글 블록 -->
      <div class="user_info" id="Inline_block">
        <!-- 사용자 이미지 -->
        <div class="media">
          <div class="media-left">
            <figure class="image is-32x32">
              <img
                class="is-rounded"
                src="https://bulma.io/assets/images/placeholders/96x96.png"
                alt="Placeholder image"
              />
            </figure>
          </div>
          <div class="media-content">
            <!-- 아이디 및 이름 받아오기 : DB에서 아이디와 이름 각각 받아와서 변수로 올리기 -->
             <!-- 작성시간 받아오기 : DB에서~ -->
             {%for x in reply_users_db if not (i['author_id'] != x['id'])%}
            <span class="reply-user-name">{{x['user_name']}} ({{x['slack_id']}})</span>
            {%endfor%}
            <span>{{i['time']}}</span>
            
          </div>
        </div>
      </div>
      <div class = "reply-content">
        <!-- 댓글 작성 시 엔터 누르면 <br>태그가 활성화되게끔 해야될듯 -->
        <p>
          {{i['content']}}
        </p>
      </div>
      <!-- 추비추 버튼 -->
      <div class="field is-grouped reply-osusume reply-block">
        <p class="control">
          <button onclick="press_like_button(this.id)" class="button is-primary Lbutton{{i['id']}}" id="{{i['id']}}">이거다! {{i['like_num']}}</button>
        </p>
        <p class="control">
          <button onclick="press_hate_button(this.id)" class="button is-link is-light Hbutton{{i['id']}}" id="{{i['id']}}">안돼요 {{i['hate_num']}}</button>
        </p>
        <p class="control">
          <button class="button is-warning is-hovered" id = '{{post["id"]}}' onclick = 'select(this.id)'>채택하기</button>
        </p>
      </div>
      {%endfor%}
   
      
          

</html>