<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>정답 : 정글의 답을 찾다</title>
        <link rel = "stylesheet" type="text/css" href="../static/style.css"/>
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
        >
    </head>
    <body>
        <div class = "content wrap">
            <!-- 내비게이션 바 -->
            <div id="Inline_block">
                <img class = "top_left_logo" src = "/static/source/jungdob_logo.png"/>
                <div>
                    <button class="button is-success is-rounded">로그아웃</button>
                </div>
            </div>

            <div class = "post_title" id="Inline_block">
                <span>찬바람 불 때 내게 와줄래 세상이 모질게 그댈 괴롭힐때</span>
                <!-- javascript 혹은 jquery로 display속성을 block으로 변경하기 -->
                 <!-- 해결 / 미해결 버튼의 id값은 게시글 고유의 id 값으로 설정하기 -->
                 <button class="button is-success is-active">해결</button>
                <button class="button is-active">미해결</button>
            </div>
        </div>
        
        
        
    </body>
</html>