<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    crossorigin="anonymous"></script>

    <script src="../static/signin.js"></script>
    <style>
        .account_form {
            width: 880px;
        }
        #signin{
            margin: 5% 42%;
            /* display: inline; */
        }
        .signin_btn{
            width: 200px;
            height: 80px;
        }
    </style>
    <script>
        var a = 0;
        function id_DuplicateCheck() {
            let account_id = $('#inputID').val()
            console.log(account_id)
            $.ajax({
                type: "POST",
                url: "/api/signIn",
                data: { user_id: account_id },
                success: function (response) { // 성공하면
                    if (response['result'] == 'success') {
                        a=1;
                        alert("사용하셔도 좋습니다.")
                    }
                    else if (response['result'] == 'noMatch') {
                        alert("중복되는 아이디 입니다.")
                        $('#inputID').val("")
                    }
                    else (
                        alert("서버 오류")
                    )
                }
            })
        }

        function signIn() {
            let account_id = $('#inputID').val()
            console.log(account_id)
            let account_pw = $('#inputPW').val()
            console.log(account_pw)
            let user_name = $('#inputName').val()
            console.log(user_name)
            let account_pwCheck = $('#inputPwCheck').val()
            console.log(account_pwCheck)
            let jungle_class = $('#jungle_class').find(":selected").val();
            // $("#jungle_class :selected").change(function(){
            // console.log($(this).val()); //value값 가져오기
            // });

            console.log(jungle_class)
            let slack_id = $('#slack_id').val()
            console.log(slack_id)
            let jungle_MBTI = $('#mbti').val()
            console.log(jungle_MBTI)
            let picture = $('#picture').val()
            console.log(picture)

            if (account_id == "") {
                alert("아이디를 입력해주세요.")
                return false;
            }if (user_name == "") {
                alert("이름을 입력해주세요.")
                return false;
             } if (account_pw == "") {
                alert("패스워드를 입력해주세요.")
                return false;
            } if (account_pwCheck != account_pw) {
                alert("패스워드가 다릅니다.")
                $('#inputPwCheck').val("");
                return false;
            } if (jungle_class == "") {
                alert("정글 기수를 체크해주세요")
                return false;
            } if (slack_id == "") {
                alert("slack ID를 입력해주세요.")
                return false;
            }if (a != 1) {
                alert("중복확인 버튼을 눌러주세요.")
                return false;
            }

            $.ajax({
                type: "POST",
                url: "/api/signUp",
                data: { account_id: account_id , account_pw: account_pw, user_name:user_name, jungle_class: jungle_class, slack_id: slack_id, user_MBTI:jungle_MBTI, picture:picture },
                success: function (response) { // 성공하면
                    if (response['result'] == 'success') {
                        
                        alert('정답입니다.')
                        location.href = './main'
                    }
                    else if (response['result'] == 'noMatch') {
                    alert('오답입니다.')
                    }

                }
            })

        }

    </script>
</head>

<body>
    <div class="content wrap">
        <a href="/">
            <img class="top_left_logo" src="/static/source/jungdob_logo.png" />
        </a>
        <h1>회원가입</h1>
        <p>정글러님의 정보를 기입해주세요</p>
        <span class="has-text-danger">* </span><strong>아이디</strong>
        <div class="field has-addons">
            <div class="account_form  control account_id">
                <input class="input" type="text" id="inputID">
            </div>
            <div class="control">
                <button class="button is-success" id="#inputID" onclick="id_DuplicateCheck()">중복 확인</button>
            </div>
        </div>
        <div class="field">
            <span class="has-text-danger">* </span><strong>이름</strong>
            <input class="input" type="text" id="inputName" placeholder="">
        </div>
        <div class="field">
            <span class="account_form has-text-danger">* </span><strong>비밀번호</strong>
            <input class="input" type="password" id="inputPW">
        </div>
        <div class="field">
            <span class="account_form has-text-danger">* </span><strong>비밀번호 확인</strong>
            <input class="input" type="password" id="inputPwCheck" />
            <!-- 여기에 비밀번호 같은지 다른지 여부를 검사하는 jinja2 template -->
        </div>

        <div class="field">
            <span class="has-text-danger">* </span><strong>정글 기수</strong>
            <div class="control">
                <div class="select">
                    <select id="jungle_class">
                        <option disabled hidden selected></option>
                        <option value="7">7기</option>
                        <option value="6">6기</option>
                        <option value="5">5기</option>
                        <option value="4">4기</option>
                        <option value="3">3기</option>
                        <option value="2">2기</option>
                        <option value="1">1기</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <span class="account_form has-text-danger">* </span><strong>Slack ID</strong>
            <input class="input" type="text" placeholder="필요가 있나?" id="slack_id"/>
        </div>

        <div class="field">
            <label class="label">MBTI(추후 이벤트 참여에 도움이 됩니다)</label>
            <input class="input" type="text" placeholder="ENFP" id="mbti" />
        </div>
        <div class="field">
            <label class="label">프로필 사진</label>
            <form class="inputImg" method="post" enctype="multipart/form-data">
                <div class="addImage" id="image-show"></div>
                <div class="file is-success">
                    <label class="file-label">
                        <input id="picture"class="file-input" type="file" name="resume" onchange="loadFile(this)" />
                        <span class="file-cta">
                            <span class="file-label">사진 업로드</span>
                        </span>
                    </label>
                </div>
            </form>
        </div>

        
            <div class="control " id="signin">
                <button class="button is-success signin_btn" onclick="signIn()">가입하기</button>
            </div>
            <!-- <a href = "./" class="is-success create_answer">
                가입하기
            </a> -->

        </div>
    </div>


</body>

</html>