<!DOCTYPE html>
<head>
    <meta charset = "utf-8">
    <title>회원가입</title>
    <link rel = "stylesheet" type="text/css" href="../static/style.css"/>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
</head>
<body>
    <div class = "content wrap">
        <img class = "top_left_logo" src = "/static/source/jungdob_logo.png"/>
        <h1>회원가입</h1>
        <p>정글러님의 정보를 기입해주세요</p>
        <span class="has-text-danger">* </span><strong>아이디</strong>
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text">
            </div>
            <div class="control">
                <button class = "button is-success">중복 확인</button>
            </div>
        </div>
        <div class = "field">
            <span class="has-text-danger">* </span><strong>이름</strong>
            <input class="input" type = "text" placeholder="김정글">
        </div>
        <div class="field">
            <span class="has-text-danger">* </span><strong>비밀번호</strong>
            <input class="input" type="password" />
        </div>
        <div class="field">
            <span class="has-text-danger">* </span><strong>비밀번호 확인</strong>
            <input class="input" type="password" />
            <!-- 여기에 비밀번호 같은지 다른지 여부를 검사하는 jinja2 template -->
        </div>

        <div class="field">
            <span class="has-text-danger">* </span><strong>정글 기수</strong>
            <div class="control">
              <div class="select">
                <select>
                  <option disabled hidden selected></option>
                  <option>7기</option>
                  <option>6기</option>
                  <option>5기</option>
                  <option>4기</option>
                  <option>3기</option>
                  <option>2기</option>
                  <option>1기</option>
                </select>
              </div>
            </div>
        </div>
          
        <div class="field">
            <span class="has-text-danger">* </span><strong>Slack ID</strong>
            <input class="input" type="text" placeholder="필요가 있나?"/>
        </div>
          
        <div class="field">
            <label class="label">MBTI(추후 이벤트 참여에 도움이 됩니다)</label>
            <input class="input" type="text" placeholder="ENFP"/>
        </div>
          
          
        
          
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancel</button>
            </div>
          </div>
    </div>
    
    
</body>