<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>질문 작성</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />

    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      crossorigin="anonymous"
    ></script>

    <script>
        let apple = 'a'
        let title = ""
        let content = ""
        let week = "0주차"

      function upload_post() {
        title = $("#titleArea").val();
        content = $("#contentArea").val();
        week = $("#week option:selected").val();
        apple = 8

        $.ajax({
          type: "POST",
          url: "/api/createPost",
          data: { title: title, content: content, week: week },
          success: function (response) {
            if (response["result"] == "success") {
              alert("업로드 완료");
              location.replace("/main");
            } else if (response["result"] == "noTitle") {
              alert("제목을 입력하세요!");
            } else if (response["result"] == "noContent") {
              alert("내용을 입력하세요!");
            } else alert("서버 오류");
          },
        });
      }
    </script>

  </head>
  <body>
    <div class="content wrap">
      <!-- 내비게이션 바 -->
      <div id="Inline_block">
        <a href="/main">
          <img class="top_left_logo" src="/static/source/jungdob_logo.png" />
        </a>
        <div class="logout">
          <button class="button is-success is-rounded">로그아웃</button>
        </div>
      </div>

      <h1>게시글 작성</h1>
      <div class="field">
        <label class="label">제목</label>
        <input class="input" type="text" placeholder="재워줘" id="titleArea" />
      </div>
      <div class="field">
        <label class="label">질문 내용</label>
        <textarea
          class="textarea"
          placeholder="이건 진짜 아닌듯요"
          rows="10"
          id="contentArea"
        ></textarea>
      </div>
      <div class="field">
        <label class="label">질문 분류</label>
        <div class="control">
          <div class="select">
            <select id="week">
              <option>0주차</option>
              <option>1주차</option>
              <option>2주차</option>
              <option>3주차</option>
              <option>4주차</option>
              <option>5주차</option>
              <option>6주차</option>
              <option>7주차</option>
              <option>8주차</option>
              <option>9주차</option>
              <option>10주차</option>
              <option>11주차</option>
              <option>12주차</option>
              <option>13주차</option>
              <option>14주차</option>
              <option>15주차</option>
              <option>16주차</option>
              <option>17주차</option>
              <option>18주차</option>
              <option>19주차</option>
              <option>20주차</option>
              <option>기타</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field" id="float_right">
        <button class="button is-success" onclick="upload_post()">
          질문하기
        </button>
      </div>
    </div>
  </body>
</html>
